@font-face
    font-family: 'bebas-regular'
    src: url('../fonts/BebasNeue-Regular.eot')
    src: url('../fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff'),
        url('../fonts/BebasNeue-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
    font-display: swap

@font-face
    font-family: 'bebas-bold'
    src: url('../fonts/BebasNeueBold.eot')
    src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeueBold.woff') format('woff'),
        url('../fonts/BebasNeueBold.ttf') format('truetype')
    font-weight: bold
    font-style: normal
    font-display: swap